## Install essential packages
# sudo apt-get install python3-venv build-essential python3-dev git --yes
## make sure that your pip version >= 20.0.0
# pip install --upgrade pip
cmake
wheel
pymongo[srv]
google-cloud-datastore
google-cloud-storage
google-cloud-bigquery
tqdm
